#app section#home {
    gap: var(--rtb-spacing-l);
    justify-content: space-between;
}

#home > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.img_wrp.contrast {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 100%;
    border: 10px solid;
    cursor: url("/assets/portal_gun.png"), auto;
}

#home .img_wrp>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.cubo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -1000px;
}

.cuboEnorme {
    width: 100%;
    height: 100svh;
    position: absolute;
    top: -100svh;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuboEnorme > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    background-color: transparent !important;
}

.cuboEnorme span {
    font-size: 100px;
    background-color: transparent !important;
}

.cuboEnorme p {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: transparent !important;
}

.contact_email {
    margin: var(--rtb-spacing-l);
    text-decoration: underline;
    cursor: pointer;
    background-color: transparent !important;
}

@media (max-width: 550px) {
    .cuboEnorme p {
        font-size: 20px;
    }
}