body>header a {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > header ul {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: var(--rtb-spacing-xl);
    margin-right: 200px;
}

body > header ul > li {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > header ul > li:nth-child(even) a {
    margin-top: 50px;
}

body>header li a.bubble {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-radius 2s linear;
    box-shadow: inset -6px 6px 10px var(--rtb-color-400), inset 2px 6px 10px var(--rtb-color-400), inset 20px -20px 22px rgba(255, 255, 255, 0.423), inset 40px -40px 44px var(--rtb-color-400);
    padding: var(--rtb-spacing-xl);
}

body>header ul > li a:not(.bubble) {
    margin-top: 0px;
}